* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

:root {
    --logo: url(../images/logolongchau.png);
    --banner: url(../images/banner.png);
    --dart: url(../images/dart-logo.png); 
    --product: url(../images/product.png);
    --mini-banner: url(../images/mini-banner.png);
    --cover-banner-height: 338px;
    --mini-banner-height: 45px; 
    --banner-height:  168.608px;
}

@keyframes disappear {
    from {
        height: var(--cover-banner-height);
        display: block;
        opacity: 1;
    }
    to {
        height: var(--mini-banner-height);
        display: none;
        opacity: 0;
    }
}

.ps12 .Header,
.ps12 .Content {
    padding-left: 12px;
    padding-right: 12px;
}

.gray {
    background-color: #F9F9F9 !important;
}

.hide {
    display: none !important;
}

.width__300 {
    width: 300px;
}

.width__620 {
    width: 620px;
}

.width__620 .Header__info__icon > svg {
    height: 20px;
    display: block;
}

.width__620 .Footer {
    text-align: center;
}

.red {
    background-color: red !important;
}



/* css wrapper */

.Wrapper {
    display: inline-flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 0.7px solid #E2E2E2;
    background: #FFF;
    position: relative;
}

.Wrapper__dart--logo {
    width: 32.941px;
    height: 16px;
    position: absolute;
    border-top-right-radius: 7px;
    right: -0.2px;
    top: 0;
    background: var(--dart), transparent 50% / cover no-repeat;
}



/* css header */
.Header {
    width: 100%;
    position: relative;
}

.Header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-bottom: 10px;
}

.Header__info__title {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Header__info__icon {
    display: inline-block;
}

.Header__info__title > p {
    display: inline-block;
    width: fit-content;
    margin-bottom: 0;
    padding-left: 10px;
    color: #0640D2;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
}


.Header__info__logo {
    width: 85.357px;
    height: 32px;
    background: var(--logo);
    margin-right: 12px;
    cursor: pointer;
}

/* CSS for Footer */
.Footer {
    width: 100%;
    background-color: #0640D2;
    padding: 10px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Footer__description {
    color: #FFF;
    font-size: 9px;
    font-style: italic;
    font-weight: 400;
}

.Footer__description > span {
    font-size: 10px;
    font-weight: 700;
}
